.page-services {

  .quicktabs_main {

    ul {
      margin: 0 0 40px;
      padding: 0;
      font-size: 18px;

      li {
        list-style: none;
        text-align: center;
        margin-bottom: 8px;

        span {
          position: relative;
          padding-left: 25px;

          &:before {
            @include pseudo-block($left: 0,$top: -2px);
            @include oneline-sprite-box($icons, icon-6);
          }
        }
      }
    }

   .img img{
     width: 100%;
     height: auto;
   }
  }
}