.crescent-remote-blog-archive a {
  font-size: 12px;
  line-height: 24px;
}
.crescent-remote-blog-archive .number {
  color: gray;
}
.crescent-remote-blog-archive ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.crescent-remote-blog-archive ul ul {
  margin-left: 16px;
  display: none;
}
.crescent-remote-blog-archive ul ul.active {
  display: block;
}

.crescent-remote-blog-archive .btn-arrow {
  display: inline-block;
  width: 16px;
  height: 24px;
  position: relative;
  cursor: pointer;
  float: left;
}
.crescent-remote-blog-archive .btn-arrow:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin-top: -6px;
  border-left: 8px solid #ccc9c2;
}
.crescent-remote-blog-archive .btn-arrow.active:before {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin-top: -4px;
  border-top: 8px solid #ccc9c2;
}


.crescent-remote-blog-archive .crescent-remote-blog-archive-list > li > a {
    font-family: sourcesanspro-bold;
    color: #707070;
}


.crescent-remote-blog-archive .crescent-remote-blog-archive-list ul{
    padding: 0 0 0 25px;
    list-style: none;
    margin: 0;
}

.crescent-remote-blog-archive .crescent-remote-blog-archive-list ul ul {
    margin-left: 16px;
    display: none;
}

.crescent-remote-blog-archive .crescent-remote-blog-archive-list ul.active{
    display: block;
}



.crescent-remote-blog-archive .crescent-remote-blog-archive-list a, .crescent-remote-blog-archive .crescent-remote-blog-archive-list .number {
    text-decoration: none;
    color: #9c9c9b;
    font-size: 14px;
}

.crescent-remote-blog-archive a {
    font-size: 12px;
    line-height: 24px;
}