@font-face {
  font-family: 'niks-bold';
  src: url('../fonts/dootype_-_niks-bold-webfont.eot');
  src: url('../fonts/dootype_-_niks-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/dootype_-_niks-bold-webfont.woff') format('woff'),
  url('../fonts/dootype_-_niks-bold-webfont.woff2') format('woff2'),
  url('../fonts/dootype_-_niks-bold-webfont.ttf') format('truetype'),
  url('../fonts/dootype_-_niks-bold-webfont.svg#niks-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'niks-bolditalic';
  src: url('../fonts/dootype_-_niks-bolditalic-webfont.eot');
  src: url('../fonts/dootype_-_niks-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/dootype_-_niks-bolditalic-webfont.woff') format('woff'),
  url('../fonts/dootype_-_niks-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/dootype_-_niks-bolditalic-webfont.ttf') format('truetype'),
  url('../fonts/dootype_-_niks-bolditalic-webfont.svg#niks-bolditalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'niks-normal';
  src: url('../fonts/dootype_-_niks-normal-webfont.eot');
  src: url('../fonts/dootype_-_niks-normal-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/dootype_-_niks-normal-webfont.woff') format('woff'),
  url('../fonts/dootype_-_niks-normal-webfont.woff2') format('woff2'),
  url('../fonts/dootype_-_niks-normal-webfont.ttf') format('truetype'),
  url('../fonts/dootype_-_niks-normal-webfont.svg#niks-normal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'niks-normalitalic';
  src: url('../fonts/dootype_-_niks-normalitalic-webfont.eot');
  src: url('../fonts/dootype_-_niks-normalitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/dootype_-_niks-normalitalic-webfont.woff') format('woff'),
  url('../fonts/dootype_-_niks-normalitalic-webfont.woff2') format('woff2'),
  url('../fonts/dootype_-_niks-normalitalic-webfont.ttf') format('truetype'),
  url('../fonts/dootype_-_niks-normalitalic-webfont.svg#niks-normalitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sourcesanspro-black';
  src: url('../fonts/sourcesanspro-black-webfont.eot');
  src: url('../fonts/sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sourcesanspro-black-webfont.woff') format('woff'),
  url('../fonts/sourcesanspro-black-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-black-webfont.ttf') format('truetype'),
  url('../fonts/sourcesanspro-black-webfont.svg#sourcesanspro-black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sourcesanspro-bold';
  src: url('../fonts/sourcesanspro-bold-webfont.eot');
  src: url('../fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sourcesanspro-bold-webfont.woff') format('woff'),
  url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
  url('../fonts/sourcesanspro-bold-webfont.svg#sourcesanspro-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sourcesanspro-extralight';
  src: url('../fonts/sourcesanspro-extralight-webfont.eot');
  src: url('../fonts/sourcesanspro-extralight-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sourcesanspro-extralight-webfont.woff') format('woff'),
  url('../fonts/sourcesanspro-extralight-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-extralight-webfont.ttf') format('truetype'),
  url('../fonts/sourcesanspro-extralight-webfont.svg#sourcesanspro-extralight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sourcesanspro-extralightitalic';
  src: url('../fonts/sourcesanspro-extralightitalic-webfont.eot');
  src: url('../fonts/sourcesanspro-extralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sourcesanspro-extralightitalic-webfont.woff') format('woff'),
  url('../fonts/sourcesanspro-extralightitalic-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-extralightitalic-webfont.ttf') format('truetype'),
  url('../fonts/sourcesanspro-extralightitalic-webfont.svg#sourcesanspro-extralightitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sourcesanspro-regular';
  src: url('../fonts/sourcesanspro-regular-webfont.eot');
  src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
  url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
  url('../fonts/sourcesanspro-regular-webfont.svg#sourcesanspro-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sourcesanspro-semibold';
  src: url('../fonts/sourcesanspro-semibold-webfont.eot');
  src: url('../fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
  url('../fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
  url('../fonts/sourcesanspro-semibold-webfont.svg#sourcesanspro-semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sourcesanspro-semibolditalic';
  src: url('../fonts/sourcesanspro-semibolditalic-webfont.eot');
  src: url('../fonts/sourcesanspro-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sourcesanspro-semibolditalic-webfont.woff') format('woff'),
  url('../fonts/sourcesanspro-semibolditalic-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-semibolditalic-webfont.ttf') format('truetype'),
  url('../fonts/sourcesanspro-semibolditalic-webfont.svg#sourcesanspro-semibolditalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo-700';
  src: url('../fonts/museo-700-webfont.eot');
  src: url('../fonts/museo-700-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museo-700-webfont.woff') format('woff'),
  url('../fonts/museo-700-webfont.woff2') format('woff2'),
  url('../fonts/museo-700-webfont.ttf') format('truetype'),
  url('../fonts/museo-700-webfont.svg#museo-700') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo-300';
  src: url('../fonts/museo-300-webfont.eot');
  src: url('../fonts/museo-300-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museo-300-webfont.woff') format('woff'),
  url('../fonts/museo-300-webfont.woff2') format('woff2'),
  url('../fonts/museo-300-webfont.ttf') format('truetype'),
  url('../fonts/museo-300-webfont.svg#museo-300') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museoslab-100';
  src: url('../fonts/museo_slab_100-webfont.eot');
  src: url('../fonts/museo_slab_100-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museo_slab_100-webfont.woff') format('woff'),
  url('../fonts/museo_slab_100-webfont.woff2') format('woff2'),
  url('../fonts/museo_slab_100-webfont.ttf') format('truetype'),
  url('../fonts/museo_slab_100-webfont.svg#museoslab-100') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museoslab-500';
  src: url('../fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museo_slab_500-webfont.woff') format('woff'),
  url('../fonts/museo_slab_500-webfont.woff2') format('woff2'),
  url('../fonts/museo_slab_500-webfont.ttf') format('truetype'),
  url('../fonts/museo_slab_500-webfont.svg#museoslab-500') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museoslab-700';
  src: url('../fonts/museo_slab_700-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museo_slab_700-webfont.woff') format('woff'),
  url('../fonts/museo_slab_700-webfont.woff2') format('woff2'),
  url('../fonts/museo_slab_700-webfont.ttf') format('truetype'),
  url('../fonts/museo_slab_700-webfont.svg#museoslab-700') format('svg');
  font-weight: normal;
  font-style: normal;
}