.page-water-services {

  .text-slider {

    .right-part {
      display: block;
    }
  }

  .right-part {
    max-width: 450px;
    margin: 0 auto;
    display: none;

    .flexslider .slides > li {
      max-height: 180px;
    }
  }

  .title-nav {

    #quicktabs-tab-water_services-0:before {
      @include pseudo-block($top: 17px, $left: 25px);
      @include oneline-sprite-box($icons, icon-7-hover-s);
    }

    #quicktabs-tab-water_services-1:before {
      @include pseudo-block($top: 17px, $left: 25px);
      @include oneline-sprite-box($icons, icon-8-hover-s);
    }

    #quicktabs-tab-water_services-2:before {
      @include pseudo-block($top: 17px, $left: 25px);
      @include oneline-sprite-box($icons, icon-9-hover-s);
    }

    #quicktabs-tab-water_services-3:before {
      @include pseudo-block($top: 17px, $left: 25px);
      @include oneline-sprite-box($icons, icon-10-hover-s);
    }

    #quicktabs-tab-water_services-4:before {
      @include pseudo-block($top: 17px, $left: 25px);
      @include oneline-sprite-box($icons, icon-11-hover-s);
    }
  }

  .quicktabs-wrapper {

    .quicktabs-tabs {

      li {

        a:before {
          bottom: 9px;
        }

        &:nth-child(1) {

          a {

            &:before {
              @include oneline-sprite-box($icons, icon-7-s);
            }
          }
        }

        &:nth-child(2) {

          a {

            &:before {
              @include oneline-sprite-box($icons, icon-8-s);
            }
          }
        }

        &:nth-child(3) {

          a {

            &:before {
              @include oneline-sprite-box($icons, icon-9-s);
            }
          }
        }

        &:nth-child(4) {

          a {

            &:before {
              @include oneline-sprite-box($icons, icon-10-s);
            }
          }
        }

        &:nth-child(5) {

          a {

            &:before {
              @include oneline-sprite-box($icons, icon-11-s);
            }
          }
        }
      }
    }
  }

  .quicktabs_main {

    ul {
      font-size: 12px;

      li {
        margin-bottom: 15px;
      }
    }

    .quicktabs-tabpage:nth-child(1) {

      .text-inner {
        width: 100%;
      }

      h6 {
        font-size: 18px;
        font-family: $avenir-regular;
        text-transform: none;
        color: #7d7d7d;
        margin: 0 0 50px 0;
      }

      ul li span:before {
        @include pseudo-block($left: 0, $top: -10px);
        @include oneline-sprite-box($icons, icon-12);
        @include transform(scale(.7));
      }
    }

    .quicktabs-tabpage:nth-child(5) {

      .text-inner {
        width: 100%;
      }

      ul {
        width: 100%;
        margin: 0 auto;

        li {
          margin-bottom: 20px;
          text-align: left;

          span {
            display: block;
            padding-left: 75px;

            &:before {
              @include pseudo-block($left: 0, $top: 5px);
              @include oneline-sprite-box($icons, icon-13);
            }
          }
        }
      }
    }
  }
}