.page-about {

  .block-system {

    .text {
      width: 100%;
      padding: 15px 0 20px 0;
    }

    img {
      width: 100%;
    }


    p {
      text-align: justify;
    }

    h4 {
      font-size: 18px;
      width: 100%;
    }

    h6 {
      font-size: 18px;
    }
  }
}