.sidebar {
  margin-bottom: 10px;
  float: right;
  width: 100%;
  display: none;
  font-size: 14px;
  padding: 30px 0 0 0;

  h2 {
    border-bottom: 5px solid #0074c8;
    padding-bottom: 30px;
    font-size: 28px;
    text-align: center;
  }

  .views-row {
    margin-bottom: 20px;
  }

  .block {
    @include clearfix();

    &.cols-three .col {
      width: 300px;
      margin-left: 37px;

      &:first-child {
        margin-left: 0;
      }
    }

    .hd {
      padding-bottom: 8px;
      font-weight: bold;
      margin-bottom: 24px;
      font-family: $avenir-ultra-light-italic;
    }

    h3 {
      line-height: 1.2;
      font-family: $avenir-meidum-italic;
      margin: 0 0 13px;
      font-size: 21px;

      a {
        font-family: $avenir-meidum-italic;
        text-decoration: none;
        color: #3c3c3c;

        &:hover {
          opacity: .7;
        }
      }
    }

    a {
      @include transition(opacity .3s);

      &:hover {
        opacity: .7;
      }
    }

    p {
      margin: 0 0 10px;
      font-family: $avenir-meidum;
    }

    img {
      display: block;
      margin-bottom: 15px;
    }
  }
}